extends /layouts/default

block append head
  link(rel="stylesheet" href="/assets/css/subsets.css")

block content
  .container.pv5(
    style=""
  )
    p 
      | Only set A should load in the network tab.

    .row
      each weight in font.weights
        .col-sm-6.col-md-4.fs5.ma(class=`fw${weight.value}`)
          p.txt-spaced.ta-j
            = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
            = "abcdefghijklmnopqrstuvwxyz"
            = "0123456789"
            = "!¡?¿#%&@()[]{}|¦/\\ ^<=>­±*+-~¬· _.,:;\"'«»"
            = "$¢£¤¥©®°µ¶§¹²³ºª¼½¾¯¨`´¸"

    p.mt4 * Set F loads if square glyphs are used to obfuscate the title.

  style
    | html { font-family: "redditsans-subset"; }
    | p { word-break: break-all; }


