.bg-switch {
  position: relative;
  z-index: 1;
  margin: -3.0625rem -1rem;
  padding: 3rem 1rem;
  transition: color 200ms, background 200ms;
}

@media (min-width: 1000px) {
  .bg-switch {
    width: 100vw;
    padding: 3.5rem 0 3rem;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}

.bg-switch samp {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

[name^="bg-switch"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid currentColor;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  top: 1rem;
  position: absolute;
  right: 0;
  z-index: 2;
  outline: none;
  cursor: pointer;
  transition: all 200ms;
  transform: scale(0.8);
  margin: 0;
}

[name^="bg-switch"]:hover,
[name^="bg-switch"]:focus {
  transform: scale(1);
}

[name^="bg-switch"][value="beluga"] {
  color: var(--color-beluga);
  background: var(--color-beluga);
  right: 4.5rem;
}

[name^="bg-switch"][value="hedgehog"] {
  color: var(--color-hedgehog);
  background: var(--color-hedgehog);
  right: 3rem;
}

[name^="bg-switch"][value="squid-ink"] {
  color: var(--color-squid-ink);
  background: var(--color-squid-ink);
  right: 1.5rem;
}

[name^="bg-switch"][value="orangered"] {
  color: var(--color-orangered);
  background: var(--color-orangered);
}

[name^="bg-switch"][value="hedgehog"]:checked ~ .bg-switch,
[name^="bg-switch"][value="hedgehog"]:checked ~ .bg-switch samp input:valid {
  background: var(--color-hedgehog);
}

[name^="bg-switch"][value="squid-ink"]:checked ~ .bg-switch,
[name^="bg-switch"][value="squid-ink"]:checked ~ .bg-switch samp input:valid {
  background: var(--color-squid-ink);
  color: var(--color-beluga);
}

[name^="bg-switch"][value="orangered"]:checked ~ .bg-switch,
[name^="bg-switch"][value="orangered"]:checked ~ .bg-switch samp input:valid {
  background: var(--color-orangered);
  color: var(--color-beluga);
}

[name^="bg-switch"]:checked {
  border-color: var(--color-squid-ink);
}

[name^="bg-switch"][value="squid-ink"]:checked {
  border-color: var(--color-beluga);
}

[name^="bg-switch"][value="orangered"]:checked ~ .bg-switch samp:hover {
  color: var(--color-squid-ink);
}

[name^="bg-switch"][value="orangered"]:checked ~ .bg-switch samp:focus-within {
  color: #ffffff80;
}

[name^="bg-switch"][value="orangered"]:checked ~ .bg-switch section {
  border-top-color: #ffffff80;
}

[name^="bg-switch"][value="squid-ink"]:checked ~ .bg-switch p[contenteditable]:focus,
[name^="bg-switch"][value="orangered"]:checked ~ .bg-switch p[contenteditable]:focus {
  background-color: #ffffff20;
}
