#content-tester input[type="range"] {
  flex: auto;
  width: 4rem;
  border-radius: 1.5px;
  background: currentColor;
  height: 3px;
  margin: 0.8rem 0 0;
  vertical-align: middle;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#content-tester input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 0;
  background-color: currentColor;
  transition: all 200ms;
  transform: scale(0.8);
}

#content-tester input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 0;
  background-color: currentColor;
  transition: all 200ms;
  transform: scale(0.8);
}

#content-tester input[type="range"]:focus,
#content-tester input[type="range"]:hover {
  outline: none;
  color: var(--color-orangered);
}

#content-tester input[type="range"]:focus::-webkit-slider-thumb,
#content-tester input[type="range"]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 8px rgba(255, 160, 60, 0.2);
}

#testsettings {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1.5rem;
  padding: 1rem 1.2rem;
  background: var(--color-dugong);
  border-radius: 3px;
}

#testsettings label {
  margin-right: 2rem;
}

#testsettings > label {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: stretch;
  width: 12rem;
}

#testsettings strong {
  display: block;
  font-weight: 400;
  white-space: nowrap;
  margin-right: 1rem;
  flex: 0 0 0%;
}

#ffsetings {
  margin-top: 0.5rem;
  margin-right: -1.5rem;
}

#ffsetings label {
  font-weight: 600;
  font-size: 14px;
  float: left;
  vertical-align: middle;
  line-height: 2.3rem;
  cursor: pointer;
  width: 5rem;
}

#ffsetings label samp {
  font-weight: 400;
  display: block;
  line-height: 1;
  overflow: visible;
  margin: -0.4rem 0 1rem 1.75rem;
  color: var(--color-narwhal);
}

#ffsetings input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: inherit;
  border: 2px solid currentColor;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  z-index: 2;
  margin: -0.2rem 0.3rem 0 0;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  transition: all 200ms;
  transform: scale(0.8);
}

#ffsetings label:hover,
#ffsetings label:focus-within {
  color: var(--color-orangered);
}

#ffsetings input:checked {
  background: currentColor;
}

#content-tester input[type="range"]:hover::-webkit-slider-thumb,,
#content-tester input[type="range"]:hover::-moz-range-thumb,
#ffsetings label:hover input {
  transform: scale(1);
}

#testcriteria {
  width: 100%;
  margin-top: 0.8rem;
  font-size: 0.8em;
}

#testarea {
  width: 100%;
  height: 16.1rem;
  resize: vertical;
  border: none;
  margin: 1rem 0 0;
}

#testareawrapper {
  position: relative;
}

#testareawrapper:before {
  content: "";
  position: absolute;
  border: 0.4rem solid transparent;
  border-right-color: var(--color-dolphin);
  border-bottom-color: var(--color-dolphin);
  bottom: 2px;
  right: 2px;
  z-index: 10;
  pointer-events: none;
  border-radius: 2px 4px 2px 4px;
  box-shadow: 0 0 0 2px white;
}

.testoption {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  float: left;
  border: 2px solid;
  border-radius: 3px;
  background: transparent;
  font-weight: 600;
  line-height: 1.2;
  padding: 0.4rem;
  margin: 0.5rem 0;
}

.testoption + .testoption {
  margin-left: 0.5rem;
}
