/* Weight */
.fw100 {
  font-weight: 100;
}

.fw200 {
  font-weight: 200;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

.fw800 {
  font-weight: 800;
}

/* Color */
.txt-muted {
  color: var(--color-narwhal);
}

.txt-hl {
  color: var(--color-orangered);
}

/* Transform */
.txt-tu {
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.txt-break {
  word-break: break-all;
  white-space: normal;
}

.txt-spaced {
  letter-spacing: 0.3em;
}

.txt-pre {
  white-space: pre;
}

.txt-italic {
  font-style: italic;
}

/* Size */
.fs10 {
  font-size: 32px;
  line-height: 1.2;
}

.fs8 {
  font-size: 32px;
  line-height: 1.5;
}

.fs6 {
  font-size: 20px;
  line-height: 1.5;
}

/* Feature Settings */

.ff-none {
  font-feature-settings: 'calt' 0, 'liga' 0;
}

.ff-normal {
  font-feature-settings: normal;
}

.ff-ss01 {
  font-feature-settings: 'ss01'
}

.ff-ss02 {
  font-feature-settings: 'ss02'
}

.ff-ss03 {
  font-feature-settings: 'ss03'
}

.ff-ss04 {
  font-feature-settings: 'ss04'
}

.ff-ss05 {
  font-feature-settings: 'ss05'
}

.ff-ss06 {
  font-feature-settings: 'ss06'
}

.ff-ss07 {
  font-feature-settings: 'ss07'
}

.ff-ss08 {
  font-feature-settings: 'ss08'
}

.ff-ss09 {
  font-feature-settings: 'ss09'
}

.ff-ss10 {
  font-feature-settings: 'ss10'
}

.ff-ss11 {
  font-feature-settings: 'ss11'
}

.ff-ss12 {
  font-feature-settings: 'ss12'
}

.ff-zero {
  font-feature-settings: 'zero';
  font-variant-numeric: slashed-zero;
}

.ff-case {
  font-feature-settings: 'case'
}

.ff-dlig {
  font-feature-settings: 'dlig'
}

.ff-subs {
  font-feature-settings: 'subs'
}

.ff-sups {
  font-feature-settings: 'sups'
}

.ff-numr {
  font-feature-settings: 'numr'
}

.ff-dnom {
  font-feature-settings: 'dnom'
}

.ff-frac {
  font-feature-settings: 'frac'
}

.ff-ordn {
  font-feature-settings: 'ordn'
}

.ff-tnum {
  font-feature-settings: 'tnum'
}

.ff-onum {
  font-feature-settings: 'onum'
}


@media (min-width: 1000px) {
  .fs10 {
    font-size: 60px;
    line-height: 1.2;
  }

  .fs8 {
    font-size: 48px;
    line-height: 1.5;
  }

  .fs6 {
    font-size: 36px;
    line-height: 1.5;
  }
}
