:root {
  --font-family: "unnamedsans";
  --font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --color-beluga: #FFF;
  --color-squid-ink: #000;
  --color-orangered: #FF4500;
  --color-orca: #1B2426;
  --color-narwhal: #7A9299;
  --color-seal: #B8C7CC;
  --color-dolphin: #D7DFE2;
  --color-dugong: #F2F6F7;
  --color-urchin: #172E35;
  --color-eel: #0C3744;
  --color-hedgehog: #EAD49D;
  --color-body: #4f5051;
  --mask-round-triangle: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.7,10.3l8.6-8.6C10.9,1.1,12,1.5,12,2.4V10c0,1.1-0.9,2-2,2H2.4C1.5,12,1.1,10.9,1.7,10.3z'/%3E%3C/svg%3E%0A");
}
