@font-face {
  font-family: "unnamedsans";
  src: url("/assets/fonts/v0-003/UnnamedSans-Light.woff2") format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "unnamedsans";
  src: url("/assets/fonts/v0-003/UnnamedSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "unnamedsans";
  src: url("/assets/fonts/v0-003/UnnamedSans-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "unnamedsans";
  src: url("/assets/fonts/v0-003/UnnamedSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "unnamedsans";
  src: url("/assets/fonts/v0-003/UnnamedSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
