extends ../_includes/layouts/default

block content
  include ../_includes/partials/home/intro
  include ../_includes/partials/home/samples
  include ../_includes/partials/home/waterfall
  include ../_includes/partials/home/alignment
  include ../_includes/partials/home/tester
  include ../_includes/partials/home/features
  include ../_includes/partials/home/glyphs
