pre(style="color: #abb2bf;").
  # CSS
  <span style="color: #ff866a;">@charset</span> <span style="color: #ffca4e;">"UTF-8"</span>;

  <span style="color: #ff866a;">@font-face</span> {
    <span style="color: #d3d6dd;">font-family:</span> <span style="color: #ffca4e;">"■■■■ SANS"</span>;
    <span style="color: #d3d6dd;">font-style:</span> <span style="color: #5bd0df;">normal</span>;
    <span style="color: #d3d6dd;">font-weight:</span> <span style="color: #e182fd;">400</span>;
    <span style="color: #d3d6dd;">src:</span> <span style="color: #9ad56f;">url</span>(<span style="color: #ffca4e;">"../font.woff2"</span>) <span style="color: #9ad56f;">format</span>(<span style="color: #ffca4e;">"woff2"</span>),
         <span style="color: #9ad56f;">url</span>(<span style="color: #ffca4e;">"../font.woff"</span>) <span style="color: #9ad56f;">format</span>(<span style="color: #ffca4e;">"woff"</span>);
  }

  <span style="color: #ff866a;">body</span> { <span style="color: #d3d6dd;">font-family:</span> <span style="color: #ffca4e;">"■■■■ SANS"</span>; }