header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2.5rem;
  background-color: var(--color-beluga);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
  z-index: 8;
}

body:after {
  content: "";
  position: absolute;
  top: 2.5rem;
  left: 0;
  right: 0;
  height: 1rem;
  background: linear-gradient(to bottom, #fff 50%, #ffffff00);
  z-index: 9;
}

nav {
  padding: 0.5rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow-x: auto;
  white-space: nowrap;
}

nav ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row;
}

nav li + li:before {
  content: "•";
  margin: 0 0.75em;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:focus,
nav a:hover {
  outline: none;
  color: var(--color-orangered);
}

nav code {
  margin-left: 1rem;
}
