section.flx.flx-col.bg-dolphin(style="margin: -1px 0")
  .container.flx.flx-row.flx-wrap.flx-c.ta-c.fs9.mva.pv5
    samp.alignment.pt2.ph2
      | Alignment
      small Reddit Sans
    samp.alignment.pt2.ph2(style="font-family: Arial, sans-serif;")
      | Alignment
      small Arial
    samp.alignment.pt2.ph2(style="font-family: Verdana, sans-serif;")
      | Alignment
      small Verdana
    samp.alignment.pt2.ph2(style="font-family: var(--font-system);")
      | Alignment
      small System
        br
        span.txt-muted San Francisco, Roboto, Segoe
