extends /layouts/default

block content
  include /partials/home/intro
  include /partials/home/samples
  include /partials/home/waterfall
  include /partials/home/alignment
  include /partials/home/tester
  include /partials/home/features
  include /partials/home/glyphs
